In [9]:
import os
import pandas as pd
import json

os.getcwd()

'c:\\Users\\hsaxe\\OneDrive\\Documents\\ALAB\\GitHub\\SCRI_ROOT_2'

In [8]:
df = pd.read_json('GOresults/raw/CG_BP.json')

#df.head(15)

df

                                                          overrepresentation
annotation_type                               GO biological process complete
correction                                                               FDR
data_version_release_date  GO Ontology database DOI:  10.5281/zenodo.6799...
group                      [{'result': [{'input_list': {'number_in_list':...
reference                            {'reference_organism': 'Juglans regia'}
test_type                                                             FISHER
tool_release_date                                                   20221013
upload_lists               {'input_list': {'organism': 'Juglans regia', '...

In [40]:
with open('GOresults/raw/CG_BP.json', 'r') as f:
    data = json.loads(f.read())

df_nested = pd.json_normalize(data['overrepresentation']['group'])

df_nested['result']

0     [{'input_list': {'number_in_list': 12, 'fold_e...
1     [{'input_list': {'number_in_list': 11, 'fold_e...
2     [{'input_list': {'number_in_list': 10, 'fold_e...
3     [{'input_list': {'number_in_list': 9, 'fold_en...
4                                                   NaN
5                                                   NaN
6                                                   NaN
7     [{'input_list': {'number_in_list': 8, 'fold_en...
8     [{'input_list': {'number_in_list': 15, 'fold_e...
9                                                   NaN
10    [{'input_list': {'number_in_list': 7, 'fold_en...
11    [{'input_list': {'number_in_list': 7, 'fold_en...
12    [{'input_list': {'number_in_list': 7, 'fold_en...
13    [{'input_list': {'number_in_list': 27, 'fold_e...
14    [{'input_list': {'number_in_list': 13, 'fold_e...
15                                                  NaN
16                                                  NaN
17    [{'input_list': {'number_in_list': 10, 'fold_e...
18                                                  NaN
19    [{'input_list': {'number_in_list': 14, 'fold_e...
20                                                  NaN
21                                                  NaN
22                                                  NaN
23    [{'input_list': {'number_in_list': 23, 'fold_e...
24                                                  NaN
25    [{'input_list': {'number_in_list': 17, 'fold_e...
26    [{'input_list': {'number_in_list': 11, 'fold_e...
27    [{'input_list': {'number_in_list': 19, 'fold_e...
28    [{'input_list': {'number_in_list': 4, 'fold_en...
29    [{'input_list': {'number_in_list': 2, 'fold_en...
30    [{'input_list': {'number_in_list': 1, 'fold_en...
Name: result, dtype: object

In [41]:
df_nested2 = pd.json_normalize(data['input_list'])

df_nested2

KeyError: 'input_list'